<body>
	<div class="logoLogin" location="logo"></div>
	
	<div class="loginPanel">
		<table width="100%" height="100%">
			<tr>
				<td colspan="2"
					style="background: lightgray; border-bottom: 1px solid gray; text-align: center">
					<p class="tituloLoginPanel">Acesso Restrito</p>
				</td>
			</tr>
			<tr>
				<td style="padding-left: 20px"><strong>Login:</strong></td>
				<td style="padding-right: 20px">
					<div location="loginInput"></div>
				</td>
			</tr>
			<tr>
				<td style="padding-left: 20px"><strong>Senha:</strong></td>
				<td style="padding-right: 20px">
					<div location="senhaInput"></div>
				</td>
			</tr>
			<tr>
				<td colspan="2"
					style="background: lightgray; border-top: 1px solid gray">
					<div location="btnLogar"></div>
				</td>
			</tr>
		</table>
	</div>
</body>